#wrapper .hdrtop {
  float: left;
  width: 100%;
  border-bottom: 1px solid #8ad3ef;
}

#wrapper .hdrtop .hdr_left {
  background-color: #FFF;
  float: left;
  width: 50%;
  padding: 15px;
}

#wrapper .hdrtop .hdr_left .logo {
  margin: 8px 0 0 10px;
  text-decoration: none;
  display: inline-block;
  width: 410px;
}

#wrapper .hdrtop .hdr_left .logo .cmpnylogo img {
  width: 80px;
  float: left;
}

#wrapper .hdrtop .hdr_left .logo .cmpnyname {
  font: 24px segobl;
  margin-left: 80px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  top: 2px;
  line-height: 25px;
}

#wrapper .hdrtop .hdr_left .logo .cmpnyname .drk, #wrapper .hdrtop .hdr_left .logo .cmpnyname .lght {
  float: left;
  width: 100%;
}

#wrapper .hdrtop .hdr_left .logo .cmpnyname .drk {
  color: #0077bf;
}

#wrapper .hdrtop .hdr_left .logo .cmpnyname .lght {
  color: #6dc5e6;
}

#wrapper .hdrtop .hdr_right {
  background-color: #FFF;
  padding: 15px;
  float: right;
  width: 50%;
}

#wrapper .sldr {
  width: 100%;
  clear: both;
  background-color: #F9F9F9;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

#wrapper .sldr .sldr_left {
  padding: 30px 0 0 20px;
  float: left;
  width: 400px;
  position: relative;
}

#wrapper .sldr .sldr_left .ceo_testi {
  position: absolute;
  right: -340px;
  width: 450px;
  top: 80px;
}

#wrapper .sldr .sldr_left .ceo_testi .popover {
  position: relative;
  max-width: 450px;
  border-color: #6dc6e6;
  background-color: #6dc6e6;
}

#wrapper .sldr .sldr_left .ceo_testi .popover .arrow {
  top: 100px;
}

#wrapper .sldr .sldr_left .ceo_testi .popover .arrow::before {
  border-right: #6dc6e6;
}

#wrapper .sldr .sldr_left .ceo_testi .popover .arrow::after {
  border-right-color: #6dc6e6;
}

#wrapper .sldr .sldr_left .ceo_testi .popover .popover-body {
  color: #FFF;
  padding: 20px;
  font: italic 16px segoi;
  line-height: 24px;
  text-shadow: 1px 1px 1px #b3b3b3;
  text-align: justify;
  width: 100%;
}

#wrapper .sldr .sldr_left .ceo_testi .ceoname {
  clear: both;
  float: left;
  margin: 15px 15px 0;
}

#wrapper .sldr .sldr_left .ceo_testi .ceoname h2 {
  margin-bottom: 0;
  font: 25px segobl;
  color: #6dc6e6;
  text-shadow: 1px 1px 0px #0088b9;
  border-bottom: 1px solid;
}

#wrapper .sldr .sldr_left .ceo_testi .ceoname h4 {
  margin: 0;
  font: 16px segobb;
  color: #6dc6e6;
}

#wrapper .sldr #rgstrtn {
  width: 500px;
  float: right;
  margin: 80px 30px 0 0;
  /*background-color: rgba(154, 154, 154, 0.5);
		    position: relative;
		    padding: 20px;
		    border-radius: 10px;*/
}

#wrapper .sldr #rgstrtn .ttls {
  margin-bottom: 30px;
  /*color: #FFF;*/
}

#wrapper .sldr #rgstrtn .ttls h1 {
  margin: 0;
  font-size: 1.5rem;
}

#wrapper .sldr #rgstrtn .ttls h2 {
  margin: 5px 0 0;
  font-size: 0.9rem;
  font-weight: normal;
}

#wrapper .sldr #rgstrtn .btn.btnblu {
  float: right;
}

#wrapper .sldr #rgstrtn svg:not(:root) {
  margin-top: -20px;
}

#wrapper .sldr #rgstrtn .nptgrp > .popcntnr {
  right: -15px;
}

#wrapper .services .blubx .bx {
  padding: 15px 20px;
  min-height: 200px;
  color: #FFF;
}

#wrapper .services .blubx .bx h3 {
  text-align: center;
  margin: 0 0 10px;
  font: 22px segobb;
}

#wrapper .services .blubx .bx p {
  font-size: 14px;
  line-height: 18px;
}

#wrapper .services .blubx:nth-child(1) {
  background-color: #67d2e4;
}

#wrapper .services .blubx:nth-child(2) {
  background-color: #42c6dd;
}

#wrapper .services .blubx:nth-child(3) {
  background-color: #43afdd;
}

#wrapper .services .blubx:nth-child(4) {
  background-color: #339cde;
}

#wrapper .footer {
  float: left;
  width: 100%;
  clear: both;
  background-color: #313131;
  padding: 20px 10px 30px;
}

#wrapper .footer .ftrbx {
  padding: 10px 8px;
}

#wrapper .footer .ftrbx.tp {
  margin-top: 22px;
}

#wrapper .footer .ftrbx.tp ul li {
  padding-left: 0;
}

#wrapper .footer .ftrbx.tp ul li a {
  font-style: normal;
}

#wrapper .footer .ftrbx h3 {
  margin: 10px 0 15px;
  color: #6dc5e6;
  font: 18px segobb;
  letter-spacing: 1px;
  line-height: 22px;
}

#wrapper .footer .ftrbx ul {
  padding: 0;
}

#wrapper .footer .ftrbx ul li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #1f1f1f;
  border-top: 1px solid #424242;
  color: #FFF;
  font-style: italic;
  padding-left: 25px;
}

#wrapper .footer .ftrbx ul li:first-child {
  border-top: 0;
}

#wrapper .footer .ftrbx ul li:last-child {
  border-bottom: 0;
}

#wrapper .footer .ftrbx ul li a, #wrapper .footer .ftrbx ul li span {
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  padding: 10px 0;
  color: #FFF;
  display: inline-block;
}

#wrapper .footer .ftrbx ul li .fa {
  position: absolute;
  left: 0;
  top: 10px;
  color: #339cde;
  font-size: 20px;
}

#wrapper .footer .ftrbx ul.sclmedia > li {
  float: left;
  margin: 0 4px;
  padding: 0;
  display: inline-block;
  border: 0;
  list-style: none;
}

#wrapper .footer .ftrbx ul.sclmedia > li a {
  text-align: center;
  background-color: #0077c0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

#wrapper .footer .ftrbx ul.sclmedia > li a .fa {
  color: #FFF;
  position: relative;
  top: -2px;
  font-size: 18px;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(1) a {
  background-color: #3b5998;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(2) a {
  background-color: #1da1f2;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(3) a {
  background-color: #517fa6;
}

#wrapper .ftr {
  float: left;
  width: 100%;
  background-color: #2a2a2a;
  padding: 12px 0;
  text-align: center;
}

#wrapper .ftr p {
  color: #FFF;
  font-size: 11px;
  margin: 0;
}

#frmlgn {
  margin: 20px 0 0;
}

#frmlgn .nptgrp {
  margin: 0;
}

#frmlgn .btn.btnblu {
  float: right;
  margin: 5px 0 0;
}

#frmlgn .nptgrp .popcntnr {
  right: 0;
}

#frmlgn .nptgrp .ctrl {
  position: absolute;
  top: inherit;
  bottom: -30px;
}

#frmlgn .rmmbr {
  margin: 2px 0 0;
}

#frmlgn .rmmbr .lbl {
  float: left;
  margin: 0;
  font-size: 14px;
}

#frmlgn .rmmbr a {
  color: #0077c0;
}

/*# sourceMappingURL=home.css.map */
