#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1fr 1fr 1fr 1fr 600px;
  grid-template-columns: 500px 1fr 1fr 1fr 1fr 600px;
  -ms-grid-rows: minmax(125px, auto) 1fr minmax(300px, auto) minmax(40px, auto);
  grid-template-rows: minmax(125px, auto) 1fr minmax(300px, auto) minmax(40px, auto);
  grid-template-areas: "hdr_left . . . . hdr_right" "sldr sldr sldr sldr sldr sldr" "footer footer footer footer footer footer" "ftr ftr ftr ftr ftr ftr";
}

#wrapper .hdr_left {
  grid-area: hdr_left;
  background-color: #FFF;
  padding: 1em;
}

#wrapper .hdr_left .logo {
  margin: 8px 0 0 8px;
  text-decoration: none;
  display: inline-block;
}

#wrapper .hdr_left .logo .cmpnylogo img {
  width: 80px;
  float: left;
}

#wrapper .hdr_left .logo .cmpnyname {
  font: 24px segobl;
  margin-left: 80px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  top: 2px;
  line-height: 25px;
}

#wrapper .hdr_left .logo .cmpnyname .drk, #wrapper .hdr_left .logo .cmpnyname .lght {
  float: left;
  width: 100%;
}

#wrapper .hdr_left .logo .cmpnyname .drk {
  color: #0077bf;
}

#wrapper .hdr_left .logo .cmpnyname .lght {
  color: #6dc5e6;
}

#wrapper .hdr_right {
  grid-area: hdr_right;
  background-color: #FFF;
  padding: 1em;
}

#wrapper .sldr {
  grid-area: sldr;
  background-color: #F9F9F9;
  min-height: 600px;
}

#wrapper .footer {
  grid-area: footer;
  background-color: #313131;
  padding: 20px 10px 30px;
}

#wrapper .footer .ftrbx h3 {
  margin: 10px 0 15px;
  color: #6dc5e6;
  font: 18px segobb;
  letter-spacing: 1px;
  line-height: 22px;
}

#wrapper .footer .ftrbx ul {
  padding: 0;
}

#wrapper .footer .ftrbx ul li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #1f1f1f;
  border-top: 1px solid #424242;
  color: #FFF;
  font-style: italic;
  padding-left: 25px;
}

#wrapper .footer .ftrbx ul li:first-child {
  border-top: 0;
}

#wrapper .footer .ftrbx ul li:last-child {
  border-bottom: 0;
}

#wrapper .footer .ftrbx ul li a, #wrapper .footer .ftrbx ul li span {
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  padding: 10px 0;
  color: #FFF;
  display: inline-block;
}

#wrapper .footer .ftrbx ul li .fa {
  position: absolute;
  left: 0;
  top: 10px;
  color: #339cde;
  font-size: 20px;
}

#wrapper .footer .ftrbx ul.sclmedia > li {
  float: left;
  margin: 0 4px;
  padding: 0;
  display: inline-block;
  border: 0;
  list-style: none;
}

#wrapper .footer .ftrbx ul.sclmedia > li a {
  text-align: center;
  background-color: #0077c0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

#wrapper .footer .ftrbx ul.sclmedia > li a .fa {
  color: #FFF;
  position: relative;
  top: -2px;
  font-size: 18px;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(1) a {
  background-color: #3b5998;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(2) a {
  background-color: #1da1f2;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(3) a {
  background-color: #517fa6;
}

#wrapper .ftr {
  grid-area: ftr;
  background-color: #2a2a2a;
  padding: 12px 0;
  text-align: center;
}

#wrapper .ftr p {
  color: #FFF;
  font-size: 11px;
  margin: 0;
}

#frmlgn {
  margin: 20px 0 0;
}

#frmlgn .nptgrp {
  margin: 0;
}

#frmlgn .btn.btnblu {
  float: right;
  margin: 8px 0 0;
}

#frmlgn .nptgrp > .popcntnr {
  right: 0;
}

#frmlgn .rmmbr {
  margin: 2px 0 0;
}

#frmlgn .rmmbr .option {
  display: inline-block;
  border: 1px solid #10679c;
  vertical-align: top;
  margin: 3px 5px 0 0;
  position: relative;
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#frmlgn .rmmbr .option .fcs:focus + .checkbox, #frmlgn .rmmbr .option .fcs + .checkbox,
#frmlgn .rmmbr .option .fcs:focus + .checkbox:before,
#frmlgn .rmmbr .option .fcs + .checkbox:before {
  border-color: #0077c0;
}

#frmlgn .rmmbr .option .fcs {
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
}

#frmlgn .rmmbr .option .fcs:checked + .checkbox:before {
  display: block;
}

#frmlgn .rmmbr .option .checkbox:before {
  content: '';
  display: none;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 10px;
  height: 6px;
  border: solid #000;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#frmlgn .rmmbr .lbl {
  float: left;
  margin: 0;
  font-size: 14px;
}

#rgstrtn {
  width: 550px;
  float: right;
  margin: 30px 20px 0 0;
}

#rgstrtn .ttls {
  margin-bottom: 30px;
}

#rgstrtn .ttls h1 {
  margin: 0;
  font-size: 1.5rem;
}

#rgstrtn .ttls h2 {
  margin: 5px 0 0;
  font-size: 0.9rem;
  font-weight: normal;
}

#rgstrtn .btn.btnblu {
  float: right;
}

#rgstrtn svg:not(:root) {
  margin-top: -20px;
}

#rgstrtn .nptgrp > .popcntnr {
  right: -15px;
}

/*# sourceMappingURL=home.css.map */
