@font-face {
  font-family: segoi;
  src: url("fonts/segoui/segoeui.ttf");
}

@font-face {
  font-family: segobb;
  src: url("fonts/segoui/segoeuib.ttf");
}

@font-face {
  font-family: segob;
  src: url("fonts/segoui/seguisb.ttf");
}

@font-face {
  font-family: segobl;
  src: url("fonts/segoui/seguibl.ttf");
}

body, html {
  font-family: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.cntntwrpr {
  float: left;
  width: 100%;
}

.cntntwrpr .cntntwrpr_lft {
  margin-right: 300px;
}

.cntntwrpr .cntntwrpr_rght {
  width: 300px;
  float: right;
}

.btn {
  cursor: pointer;
}

.btn.btnblu {
  border: 1px solid #00588d;
  border-radius: 0;
  color: #FFF;
  background-color: #0077c0;
  padding: 4px 16px;
  font-size: 14px;
  text-transform: uppercase;
}

.bx {
  margin: 5px;
}

.cntr {
  text-align: center;
}

.ttl h3 {
  margin: 0;
  color: #6dc5e6;
  font: 22px segobb;
}

.ttl hr {
  margin-top: 5px;
  border-top: 4px solid #6dc5e6;
  width: 150px;
}

.ttl .btmbrdr {
  background-color: #e0e0e0;
}

.nptgrp {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
}

.nptgrp.err textarea, .nptgrp.err select, .nptgrp.err input[type=text], .nptgrp.err input[type=password], .nptgrp.err .custom-select .dropdown-toggle {
  border: 1px solid #923f3f;
}

.nptgrp select {
  height: 34px;
}

.nptgrp textarea, .nptgrp select, .nptgrp input[type=text],
.nptgrp input[type=password] {
  border: 1px solid #0077c0;
  padding: 8px 10px;
  font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
  width: 100%;
}

.nptgrp textarea:focus, .nptgrp select:focus, .nptgrp input[type=text]:focus,
.nptgrp input[type=password]:focus {
  outline: none;
}

.nptgrp textarea:disabled, .nptgrp select:disabled, .nptgrp input[type=text]:disabled,
.nptgrp input[type=password]:disabled {
  cursor: not-allowed;
}

.nptgrp textarea {
  min-height: 80px;
}

.nptgrp .nptlbl {
  position: absolute;
  top: -13px;
  left: 0;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #0077c0;
  text-transform: uppercase;
}

.nptgrp .nptlbl span {
  color: #f00;
}

.nptgrp .btmlbl {
  position: absolute;
  right: 0;
  font-size: 11px;
  color: #999;
}

.nptgrp .popcntnr {
  position: absolute;
  right: -40px;
  bottom: 30px;
}

.nptgrp .popcntnr .popover {
  position: relative;
  display: block;
  border-radius: 0;
  border: 1px solid #923f3f;
}

.nptgrp .popcntnr .popover .arrow {
  left: 50%;
}

.nptgrp .popcntnr .popover .arrow::before {
  border-top-color: #580303;
}

.nptgrp .popcntnr .popover.success {
  border: 1px solid #28a745;
}

.nptgrp .popcntnr .popover.success .arrow::before {
  border-top-color: #28a745;
}

.nptgrp .popcntnr .popover.success .popover-body .rmve {
  color: #28a745;
}

.nptgrp .popcntnr .popover .popover-body {
  padding: 5px 10px;
  line-height: 16px;
}

.nptgrp .popcntnr .popover .popover-body .rmve {
  position: absolute;
  right: 8px;
  top: 2px;
  color: #dc3545;
  cursor: pointer;
  text-align: center;
}

.nptgrp .popcntnr .popover .popover-body .rmve .fa {
  font-size: 14px;
}

.nptgrp .ctrl {
  float: left;
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 20px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 12px;
  pointer-events: auto;
  left: 0;
  top: 2px;
}

.nptgrp .ctrl input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.nptgrp .ctrl input:checked ~ .ctrl_indicator {
  background: #0077c0;
  border-color: #0077c0;
}

.nptgrp .ctrl input:checked ~ .ctrl_indicator:after {
  display: block;
}

.nptgrp .ctrl input:disabled ~ .ctrl_indicator {
  background: #E9E9E9;
  border-color: #CCC;
  cursor: not-allowed;
}

.nptgrp .ctrl .ctrl_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background: #FFF;
  border: 1px solid #0077c0;
}

.nptgrp .ctrl .ctrl_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
  left: 4px;
  top: 0;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nptgrp .totlngth {
  float: right;
  text-transform: uppercase;
  font: 10px segobb;
  margin-top: -4px;
  color: #28a745;
}

.msgmdl {
  top: 50px;
}

.msgmdl .close {
  margin-top: -10px;
  float: right;
  cursor: pointer;
  outline: none;
}

.msgmdl .fa {
  font-size: 120px;
  color: #0077c0;
  float: left;
}

.msgmdl .msg {
  margin-left: 130px;
}

.msgmdl .msg h1 {
  font: 28px segobb;
  color: #4bbd00;
}

.msgmdl .msg p {
  font: 18px segob;
  color: #777;
}

/*# sourceMappingURL=global.css.map */
