/* EDIT PROFILE */
#edit_profile {
  padding: 10px 20px;
}

#edit_profile .grdprofile {
  float: left;
  width: 100%;
  padding: 20px 0 50px;
}

#edit_profile .grdprofile .content_left {
  margin-right: 300px;
}

#edit_profile .grdprofile .content_left .pvw {
  float: right;
  position: relative;
  top: 2px;
  padding: 5px 20px;
}

#edit_profile .grdprofile .content_left #edtprof_accrdn .card {
  border: 0;
  border-radius: 0;
  margin: 0 0 20px;
  box-shadow: 0 0 10px #e8e8e8;
}

#edit_profile .grdprofile .content_left #edtprof_accrdn .card .card-header {
  background-color: #8ad3ef;
  color: #FFF;
  cursor: pointer;
  border-radius: 0;
  padding: 8px 15px;
  font: 20px segobb;
}

#edit_profile .grdprofile .content_left #edtprof_accrdn .card .card-header .glyph {
  background-color: #FFF;
  color: #5cc2e8;
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

#edit_profile .grdprofile .content_right {
  width: 300px;
  float: right;
}

#edit_profile .grdprofile .content_right .avatar {
  text-align: center;
}

#edit_profile .grdprofile .content_right .avatar .dsplaypc {
  display: inline-block;
  height: 160px;
  overflow: hidden;
}

#edit_profile .grdprofile .content_right .avatar .dsplaypc .prvw {
  position: relative;
  left: 0;
  right: 0;
}

#edit_profile .grdprofile .content_right .avatar .dsplaypc .fa {
  font-size: 150px;
  color: #CCC;
  margin: 5px 0;
}

#edit_profile .grdprofile .content_right .preview_resume {
  text-align: center;
}

#edit_profile .grdprofile .content_right .preview_resume .icns {
  float: left;
  width: 100%;
  min-height: 210px;
}

#edit_profile .grdprofile .content_right .preview_resume .icns .fa:not(.fa-trash):not(.fa-close) {
  display: inline-block;
  font-size: 200px;
  margin-bottom: 8px;
}

#edit_profile .grdprofile .content_right .preview_resume .icns .fa:not(.fa-trash):not(.fa-close).fa-file-pdf-o {
  color: #dc3545;
}

#edit_profile .grdprofile .content_right .preview_resume .icns .fa:not(.fa-trash):not(.fa-close).fa-file-word-o {
  color: #0077c0;
}

#edit_profile .grdprofile .content_right .preview_resume .icns .fa:not(.fa-trash):not(.fa-close).fa-file-text-o {
  color: #E9E9E9;
}

#edit_profile .grdprofile .content_right .preview_resume .icns svg:not(:root) {
  margin: 15px 0;
}

#edit_profile .grdprofile .content_right .nptgrp {
  margin: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  bottom: -5px;
  z-index: 999;
}

#edit_profile .grdprofile .content_right .nptgrp .popcntnr {
  right: -15px;
  left: -15px;
  cursor: default;
}

#edit_profile .grdprofile .content_right .nptgrp .popcntnr ul {
  margin: 10px 0 5px 20px;
  padding: 0;
}

#edit_profile .grdprofile .content_right .nptgrp .popcntnr p {
  margin: 10px 0 4px;
}

#edit_profile .grdprofile .cntnbx {
  background-color: #FFF;
  padding: 10px 20px 20px;
  margin: 8px;
  border: 1px solid #8ad3ef;
  border-radius: 10px;
  margin: 0 8px 15px;
}

#edit_profile .grdprofile .cntnbx .ttl {
  text-align: left;
}

#edit_profile .grdprofile .cntnbx .btns {
  text-align: center;
  margin: 6px 0 0;
  display: inline-block;
}

#edit_profile .grdprofile .cntnbx .btns .fileUpload {
  position: relative;
}

#edit_profile .grdprofile .cntnbx .btns .fileUpload .upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#edit_profile .grdprofile .cntnbx .btn {
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 0;
}

#edit_profile .grdprofile .cntnbx .btn.btn-danger {
  padding: 5px 10px;
}

#edit_profile .grdprofile .cntnbx .btn.btn-primary {
  padding: 5px 70px;
  background-color: #0077c0;
  border-color: #02639e;
}

#cropModal .modal-content {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

#cropModal .modal-content .close {
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  cursor: pointer;
}

#cropModal .modal-content .ttl {
  width: 100%;
}

#cropModal .modal-content .modal-body {
  min-height: 400px;
}

#cropModal .modal-content .modal-body .loader {
  background-color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: -15px;
  z-index: 9999;
  text-align: center;
}

#cropModal .modal-content .modal-body .loader svg:not(:root) {
  position: relative;
  top: 100px;
}

#cropModal .modal-content .modal-body .imgcropper {
  width: 100%;
  text-align: center;
  display: none;
}

#cropModal .modal-content .modal-body .imgcropper .jcrop-holder {
  margin: 0 auto;
}

#cropModal .modal-content .modal-body .imgcropper .jcrop-holder .jcrop-keymgr {
  visibility: hidden;
}

#cropModal .modal-content .modal-body .imgcropper .jcrop-holder div {
  border-radius: 50%;
  overflow: hidden;
}

#cropModal .modal-content .modal-body .imgcropper #target {
  display: none;
  opacity: 0;
}

#cropModal .modal-content .modal-footer {
  -webkit-box-pack: center;
  justify-content: center;
}

#cropModal .modal-content .modal-footer .btn {
  border-radius: 0;
  padding: 6px 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.prvw {
  position: absolute;
  z-index: 999;
  left: -10px;
  display: none;
}

.prvw.ltstdp {
  display: block;
}

.prvw .preview-pane {
  display: block;
  position: relative;
  padding: 6px;
}

.prvw .preview-pane .preview-container {
  width: 150px;
  position: relative;
  height: 150px;
  border-radius: 50%;
  border: 5px inset #6dc5e6;
  overflow: hidden;
  text-align: center;
}

/*# sourceMappingURL=edit_profile.css.map */
