/* EDIT PROFILE */
#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx {
  min-height: 582px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx .pvw {
  float: right;
  position: relative;
  top: 8px;
  padding: 5px 20px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #topfrms {
  margin: 25px 0 10px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #topfrms .nptgrp {
  margin: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card {
  border: 0;
  border-radius: 0;
  margin: 0 0 10px;
  box-shadow: 0 0 10px #e8e8e8;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .alert {
  color: #FFF;
  background-color: rgba(80, 80, 80, 0.8);
  border-color: transparent;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 9999;
  max-width: 350px;
  padding: 5px 10px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .alert .fa {
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: #07d021;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .alert span {
  position: relative;
  top: 3px;
  display: inline;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-header {
  outline: none;
  background-color: #54c3ec;
  border: 1px solid #FFF;
  text-align: left;
  color: #FFF;
  cursor: pointer;
  border-radius: 0;
  padding: 6px 15px;
  font: 20px segobb;
  text-shadow: 1px 0 0 #2e90b5;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-header:disabled {
  background-color: #a1d8ec;
  cursor: not-allowed;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-header .glyph {
  background-color: #FFF;
  color: #5cc2e8;
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-header .fa.fa-chevron-down {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-header.collapsed .fa.fa-chevron-down {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card:nth-child(1) .card-body {
  min-height: 450px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card #empcard {
  float: left;
  width: 100%;
  min-height: auto;
  padding: 30px 15px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card #empcard .crdbdy .wrkxprnc {
  float: left;
  max-width: 250px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body {
  position: relative;
  padding: 30px 15px 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp {
  width: 100%;
  float: left;
  clear: both;
  padding: 0 5px;
  margin: 10px 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row {
  padding: 40px 15px 15px;
  border: 1px dashed #54c3ec;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .cls {
  top: -40px;
  right: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns {
  float: right;
  margin-top: -10px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .btn {
  padding: 2px 8px;
  float: left;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn {
  position: relative;
  float: left;
  margin-left: 5px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp {
  margin: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 999;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr {
  right: -30px;
  left: -200px;
  bottom: 22px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr .popover {
  border-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr .popover .arrow {
  right: 38px;
  left: initial;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr .popover .arrow::before {
  border-top-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr .popover .popover-body p {
  font-size: 15px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr .popover .popover-body .btns {
  width: 100%;
  margin: 0 0 6px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row .btnactns .dltbtn .nptgrp .popcntnr .popover .popover-body .btns .btn {
  display: inline-block;
  padding: 2px 15px;
  float: none;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .row.ptop20 {
  padding-top: 20px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .btnupdt {
  text-align: center;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .btnupdt .btn-success {
  display: inline-block;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .pcemp {
  position: relative;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .rwemp .pcemp .alert {
  right: -30px;
  top: -15px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .cls {
  position: absolute;
  right: 10px;
  top: -2px;
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 25px;
  color: #54c3ec;
  cursor: pointer;
  z-index: 9;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .cls:hover {
  color: #2fb3e4;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .frmldr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 9;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .frmldr svg {
  display: inline-block;
  margin-top: 60px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .bx {
  margin: 5px 3px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr {
  text-align: center;
  padding: 20px 0 0;
  float: left;
  width: 100%;
  margin: 15px 0 20px;
  border-top: 1px dashed #54c3ec;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns {
  position: relative;
  display: inline-block;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp {
  margin: 0;
  display: block;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr {
  position: absolute;
  right: -35px;
  left: -35px;
  bottom: -4px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover {
  border-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover .arrow {
  border-top-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover .arrow::before {
  border-top-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover .popover-body {
  padding: 10px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover .popover-body p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #505050;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover .popover-body .btns {
  display: block;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .crdftr .btmctns .nptgrp .popcntnr .popover .popover-body .btns .btn {
  padding: 5px 30px;
  display: inline-block;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp .input-group .input-group-addon {
  padding: 0;
  border: 0;
  position: absolute;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp .input-group .input-group-addon select {
  padding: 8px 0 8px 5px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp .input-group input[type=text] {
  padding-left: 75px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea label, #edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.cstmdrpdwn label {
  top: -13px;
  left: 0;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #0077c0;
  text-transform: uppercase;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel {
  border: 1px solid #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-toolbar.panel-heading {
  background: #FFF;
  padding: 0 5px;
  border-bottom: 1px solid #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-toolbar.panel-heading .btn-default {
  background-color: transparent;
  border-color: transparent;
  color: #0071b7;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-toolbar.panel-heading .btn-default.active {
  background-color: #E9E9E9;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-toolbar.panel-heading .btn-default.dropdown-toggle::after {
  display: none;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-toolbar.panel-heading > .btn-group {
  margin-top: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-editable.panel-body {
  background-color: #FFF;
  padding: 10px;
  min-height: 100px;
  font-size: small;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-editable.panel-body p {
  margin: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-editable.panel-body ul {
  padding-left: 20px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-statusbar {
  background-color: transparent;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-statusbar .note-resizebar {
  padding-top: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .note-statusbar .note-resizebar .note-icon-bar {
  border-top-color: #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .note-frame.panel .dropdown-menu {
  border-color: #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea .popcntnr {
  right: -20px;
  bottom: 60px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea.wysiwyg .popcntnr {
  bottom: 138px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea.wysiwyg.err .note-frame.panel {
  border: 1px solid #923f3f;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.txtarea.wysiwyg.err .note-frame.panel .note-toolbar.panel-heading {
  border-bottom: 1px solid #923f3f;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.cstmdrpdwn .popcntnr {
  bottom: 34px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio.err .rdbx .btnbx + label {
  border: 1px solid #923f3f;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio label {
  top: -13px;
  left: 0;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #0077c0;
  text-transform: uppercase;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx {
  position: relative;
  float: left;
  width: 100%;
  clear: both;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .fmlbx {
  width: 50%;
  float: right;
  padding: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .fmlbx .btnbx + label {
  border-left: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .mlbx {
  width: 50%;
  float: left;
  padding: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx {
  display: none;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx + label {
  position: relative;
  pointer-events: auto;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  padding: 6px 15px;
  font: normal 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
  margin: 0;
  text-transform: capitalize;
  line-height: 20px;
  color: #5d5d5d;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #0077c0;
  letter-spacing: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx.actv + label, #edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx:checked + label {
  background-image: none;
  color: #FFF;
  outline: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx.actv + label[for=female], #edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx:checked + label[for=female] {
  background-color: #fb2aa7;
  border: 1px solid #fb2aa7;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx.actv + label[for=male], #edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.radio .rdbx .btnbx:checked + label[for=male] {
  background-color: #0077c0;
  border: 1px solid #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.lbld {
  margin: 0 5px 15px;
  display: inherit;
  width: auto;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.lbld .lbldcntnt {
  width: 100%;
  color: #3a3a3a;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.lbld .lbldcntnt p {
  margin: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.lbld .lbldcntnt ul {
  padding-left: 20px;
  margin: 0 0 10px;
}

#edit_profile .cntntwrpr .cntntwrpr_lft .cntnbx #edtprof_accrdn .card .card-body .nptgrp.lbld .lbl {
  position: relative;
  left: 0;
  top: 0;
  border-top: 1px dotted #CCC;
  font-size: 12px;
  width: 100%;
  clear: both;
  margin-bottom: 0;
  color: #0077c0;
  font-weight: bold;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .avatar {
  text-align: center;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .avatar .dsplaypc {
  display: inline-block;
  height: 160px;
  overflow: hidden;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .avatar .dsplaypc .prvw {
  position: relative;
  left: 0;
  right: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .avatar .dsplaypc .fa {
  font-size: 150px;
  color: #E9E9E9;
  margin: 5px 0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume {
  text-align: center;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns {
  float: left;
  width: 100%;
  padding-top: 12px;
  min-height: 150px;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns svg:not(:root) {
  margin: -15px 0 0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt {
  float: left;
  width: 100%;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .fnticn {
  float: left;
  width: 110px;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .fnticn .fa:not(.fa-trash):not(.fa-close) {
  display: inline-block;
  font-size: 120px;
  margin-bottom: 8px;
  float: left;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .fnticn .fa:not(.fa-trash):not(.fa-close).fa-file-pdf-o {
  color: #dc3545;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .fnticn .fa:not(.fa-trash):not(.fa-close).fa-file-word-o {
  color: #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .fnticn .fa:not(.fa-trash):not(.fa-close).fa-file-text-o {
  color: #E9E9E9;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls {
  margin: 25px 0 0 110px;
  text-align: left;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls.nocntnt {
  margin-top: 8px;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls.nocntnt .lbl {
  color: #FFF;
  border-bottom: 8px solid #E9E9E9;
  min-height: 30px;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls.nocntnt .lbl strong {
  color: #FFF;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls.nocntnt .lbl .btn {
  display: none;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls .lbl {
  font-size: 12px;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls .lbl strong {
  font-size: 10px;
  color: #0077c0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .preview_resume .icns .cntnt .lbls .lbl .btn {
  padding: 5px 10px 4px;
  border-radius: 10px;
  font-size: 10px;
  margin: 5px 0 0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .nptgrp {
  margin: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  bottom: -5px;
  z-index: 999;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .nptgrp .popcntnr {
  right: -15px;
  left: -15px;
  cursor: default;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .nptgrp .popcntnr ul {
  margin: 10px 0 5px 20px;
  padding: 0;
}

#edit_profile .cntntwrpr .cntntwrpr_rght .nptgrp .popcntnr p {
  margin: 10px 0 4px;
}

#edit_profile .cntntwrpr .cntnbx .ttl {
  text-align: left;
}

#edit_profile .cntntwrpr .cntnbx .btns {
  text-align: center;
  margin: 6px 0 0;
  display: inline-block;
}

#edit_profile .cntntwrpr .cntnbx .btns .fileUpload {
  position: relative;
  float: left;
}

#edit_profile .cntntwrpr .cntnbx .btns .fileUpload .upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn {
  position: relative;
  float: left;
  margin-left: 5px;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr {
  left: -218px;
  bottom: 33px;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover {
  border-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover.success {
  border-color: #28a745;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover.success .arrow {
  border-top-color: #28a745;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover.success .arrow::before {
  border-top-color: #28a745;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover .arrow {
  border-top-color: #8ad3ef;
  left: initial;
  right: 25px;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover .arrow::before {
  border-top-color: #8ad3ef;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover .popover-body p {
  font-size: 15px;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover .popover-body .btns {
  text-align: center;
  width: 100%;
  margin: 6px 0;
}

#edit_profile .cntntwrpr .cntnbx .btns .dltbtn .nptgrp .popcntnr .popover .popover-body .btns .btn {
  display: inline-block;
  padding: 5px 20px;
}

#edit_profile .cntntwrpr .cntnbx .btn {
  text-transform: uppercase;
  font: 14px segobb;
  border-radius: 0;
}

#edit_profile .cntntwrpr .cntnbx .btn.btn-danger {
  padding: 5px 10px;
}

#edit_profile .cntntwrpr .cntnbx .btn.btn-danger:disabled {
  cursor: not-allowed;
}

#edit_profile .cntntwrpr .cntnbx .btn.btn-primary {
  padding: 5px 60px;
  background-color: #0077c0;
  border-color: #02639e;
}

#edit_profile .cntntwrpr .cntnbx .btn.btn-primary.btn-edt {
  padding: 5px 10px;
  background-color: #0077c0;
  border-color: #02639e;
  position: absolute;
  right: 20px;
  top: 10px;
}

#edit_profile .cntntwrpr .cntnbx .btn.btn-danger {
  border-color: #b72230;
}

#edit_profile .cntntwrpr .cntnbx .btn.btnwrkxprnc {
  float: right;
  padding: 6px 40px 6px 15px;
  position: relative;
}

#edit_profile .cntntwrpr .cntnbx .btn.btnwrkxprnc .fa {
  position: absolute;
  top: 0;
  right: 0px;
  text-align: center;
  width: 35px;
  height: 32px;
  background-color: #0077c0;
  border-left: 1px solid #02639e;
  padding-top: 10px;
}

#edit_profile .cntntwrpr .cntnbx .btn.btnwrkxprnc:disabled {
  cursor: not-allowed;
}

#cropModal .modal-content {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

#cropModal .modal-content .close {
  position: absolute;
  right: 20px;
  top: 10px;
  outline: none;
  cursor: pointer;
}

#cropModal .modal-content .ttl {
  width: 100%;
}

#cropModal .modal-content .modal-body {
  min-height: 400px;
}

#cropModal .modal-content .modal-body .loader {
  background-color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: -15px;
  z-index: 9999;
  text-align: center;
}

#cropModal .modal-content .modal-body .loader svg:not(:root) {
  position: relative;
  top: 100px;
}

#cropModal .modal-content .modal-body .imgcropper {
  width: 100%;
  text-align: center;
  display: none;
}

#cropModal .modal-content .modal-body .imgcropper .jcrop-holder {
  margin: 0 auto;
}

#cropModal .modal-content .modal-body .imgcropper .jcrop-holder .jcrop-keymgr {
  visibility: hidden;
}

#cropModal .modal-content .modal-body .imgcropper .jcrop-holder div {
  border-radius: 50%;
  overflow: hidden;
}

#cropModal .modal-content .modal-body .imgcropper #target {
  display: none;
  opacity: 0;
}

#cropModal .modal-content .modal-footer {
  -webkit-box-pack: center;
  justify-content: center;
}

#cropModal .modal-content .modal-footer .btn {
  border-radius: 0;
  padding: 6px 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.prvw {
  position: absolute;
  z-index: 999;
  left: -10px;
  display: none;
}

.prvw.ltstdp {
  display: block;
}

.prvw .preview-pane {
  display: block;
  position: relative;
  padding: 6px;
}

.prvw .preview-pane .preview-container {
  width: 150px;
  position: relative;
  height: 150px;
  border-radius: 50%;
  border: 5px inset #6dc5e6;
  overflow: hidden;
  text-align: center;
}

.note-popover.popover {
  display: none;
}

/*# sourceMappingURL=edit_profile.css.map */
