#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: minmax(126px, auto) 1fr minmax(300px, auto) minmax(40px, auto);
  grid-template-rows: minmax(126px, auto) 1fr minmax(300px, auto) minmax(40px, auto);
  grid-template-areas: "hdr_left hdr_right" "content content" "footer footer" "ftr ftr";
}

#wrapper .hdr_left {
  grid-area: hdr_left;
  background-color: #FFF;
  padding: 15px;
  border-bottom: 1px solid #8ad3ef;
}

#wrapper .hdr_left .logo {
  margin: 8px 0 0 10px;
  text-decoration: none;
  display: inline-block;
  width: 410px;
}

#wrapper .hdr_left .logo .cmpnylogo img {
  width: 80px;
  float: left;
}

#wrapper .hdr_left .logo .cmpnyname {
  font: 24px segobl;
  margin-left: 80px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  top: 2px;
  line-height: 25px;
}

#wrapper .hdr_left .logo .cmpnyname .drk, #wrapper .hdr_left .logo .cmpnyname .lght {
  float: left;
  width: 100%;
}

#wrapper .hdr_left .logo .cmpnyname .drk {
  color: #0077bf;
}

#wrapper .hdr_left .logo .cmpnyname .lght {
  color: #6dc5e6;
}

#wrapper .hdr_right {
  grid-area: hdr_right;
  background-color: #FFF;
  padding: 15px;
  border-bottom: 1px solid #8ad3ef;
}

#wrapper .hdr_right .picture {
  float: right;
  margin: 10px 0 0;
}

#wrapper .hdr_right .picture .pctrname {
  float: left;
  margin: 10px 0 0;
}

#wrapper .hdr_right .picture .pctrname .ttl h3 {
  margin: 0 10px;
  font: 18px segob;
}

#wrapper .hdr_right .picture .dp {
  cursor: pointer;
  position: relative;
  display: inline-block;
  float: right;
  margin: 0 15px;
}

#wrapper .hdr_right .picture .dp .drpdwn {
  display: inline-block;
}

#wrapper .hdr_right .picture .dp .drpdwn .fa {
  font-size: 80px;
  color: #E9E9E9;
  margin: 0;
}

#wrapper .hdr_right .picture .dp .drpdwn img {
  width: 80px;
  height: 80px;
  float: right;
}

#wrapper .hdr_right .picture .dp .dropdown-menu {
  top: 5px !important;
  left: -18px !important;
  min-width: 300px;
  border-color: #8ad3ef;
}

#wrapper .hdr_right .picture .dp .dropdown-menu ul {
  margin: -10px 0 10px;
  padding: 0;
}

#wrapper .hdr_right .picture .dp .dropdown-menu ul li {
  lisT-style: none;
}

#wrapper .hdr_right .picture .dp .dropdown-menu ul li a {
  padding: 8px 15px;
  border-bottom: 1px dashed #CCC;
  text-decoration: none;
  display: block;
  color: #4dbfea;
}

#wrapper .hdr_right .picture .dp .dropdown-menu:before {
  position: absolute;
  top: -8px;
  right: 39px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #8ad3ef;
  border-left: 8px solid transparent;
  border-bottom-color: #8ad3ef;
  content: '';
}

#wrapper .hdr_right .picture .dp .dropdown-menu:after {
  position: absolute;
  top: -7px;
  right: 40px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
}

#wrapper .content {
  grid-area: content;
  background-color: #F9F9F9;
  min-height: 600px;
  padding: 30px 10px 50px;
}

#wrapper .content .cntnbx {
  background-color: #FFF;
  padding: 10px 20px 20px;
  border: 1px solid #8ad3ef;
  margin: 0 8px 15px;
  font-size: 14px;
}

#wrapper .footer {
  grid-area: footer;
  background-color: #313131;
  padding: 20px 10px 30px;
}

#wrapper .footer .ftrbx {
  padding: 10px;
}

#wrapper .footer .ftrbx h3 {
  margin: 10px 0 15px;
  color: #6dc5e6;
  font: 18px segobb;
  letter-spacing: 1px;
  line-height: 22px;
}

#wrapper .footer .ftrbx.tp {
  margin-top: 22px;
}

#wrapper .footer .ftrbx.tp ul li {
  padding-left: 0;
}

#wrapper .footer .ftrbx.tp ul li a {
  font-style: normal;
}

#wrapper .footer .ftrbx ul {
  padding: 0;
}

#wrapper .footer .ftrbx ul li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #1f1f1f;
  border-top: 1px solid #424242;
  color: #FFF;
  font-style: italic;
  padding-left: 25px;
}

#wrapper .footer .ftrbx ul li:first-child {
  border-top: 0;
}

#wrapper .footer .ftrbx ul li:last-child {
  border-bottom: 0;
}

#wrapper .footer .ftrbx ul li a, #wrapper .footer .ftrbx ul li span {
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  padding: 10px 0;
  color: #FFF;
  display: inline-block;
}

#wrapper .footer .ftrbx ul li .fa {
  position: absolute;
  left: 0;
  top: 10px;
  color: #339cde;
  font-size: 20px;
}

#wrapper .footer .ftrbx ul.sclmedia > li {
  float: left;
  margin: 0 4px;
  padding: 0;
  display: inline-block;
  border: 0;
  list-style: none;
}

#wrapper .footer .ftrbx ul.sclmedia > li a {
  text-align: center;
  background-color: #0077c0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

#wrapper .footer .ftrbx ul.sclmedia > li a .fa {
  color: #FFF;
  position: relative;
  top: -2px;
  font-size: 18px;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(1) a {
  background-color: #3b5998;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(2) a {
  background-color: #1da1f2;
}

#wrapper .footer .ftrbx ul.sclmedia > li:nth-child(3) a {
  background-color: #517fa6;
}

#wrapper .ftr {
  grid-area: ftr;
  background-color: #2a2a2a;
  padding: 12px 0;
  text-align: center;
}

#wrapper .ftr p {
  color: #FFF;
  font-size: 11px;
  margin: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

/*# sourceMappingURL=masterpage.css.map */
