.fllclndr_lft {
  width: 220px;
  float: left;
  padding: 0;
  border: 1px solid #CCC;
  border-bottom: 0;
  position: relative;
  right: -1px;
}

.fllclndr_lft .hdrlfttl {
  height: 36px;
  padding: 5px 10px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCC;
  text-align: center;
}

.fllclndr_lft .vslhdr {
  background-color: #606060;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  height: 24px;
  font-size: 16px;
  letter-spacing: 1px;
}

.fllclndr_lft ul {
  margin: 0;
  padding: 0;
}

.fllclndr_lft ul li {
  list-style: none;
  border-bottom: 1px solid #CCC;
  padding: 0 10px;
  min-height: 24px;
  font-size: 13px;
  font-weight: bold;
}

.fllclndr_lft ul li:first-child {
  border-top: 1px solid #CCC;
}

.fllclndr_rght {
  margin-left: 220px;
  overflow-x: auto;
  padding: 80px 0 5px;
  margin-top: -80px;
}

.fllclndr_rght .tbl {
  width: 1200px;
  border: 1px solid #CCC;
  border-collapse: collapse;
}

.fllclndr_rght .tbl th, .fllclndr_rght .tbl td {
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
}

.fllclndr_rght .tbl th .popcntnr, .fllclndr_rght .tbl td .popcntnr {
  position: absolute;
  right: -115px;
  bottom: 20px;
  z-index: 9;
}

.fllclndr_rght .tbl th .popcntnr .popover, .fllclndr_rght .tbl td .popcntnr .popover {
  position: relative;
  display: block;
  border: 1px solid #0077c0;
  width: 320px;
  max-width: 320px;
}

.fllclndr_rght .tbl th .popcntnr .popover .arrow, .fllclndr_rght .tbl td .popcntnr .popover .arrow {
  left: 50%;
}

.fllclndr_rght .tbl th .popcntnr .popover .arrow::before, .fllclndr_rght .tbl td .popcntnr .popover .arrow::before {
  border-top-color: #002c47;
}

.fllclndr_rght .tbl th .popcntnr .popover .popover-body, .fllclndr_rght .tbl td .popcntnr .popover .popover-body {
  padding: 10px;
  line-height: 16px;
  position: relative;
}

.fllclndr_rght .tbl th .popcntnr .popover .popover-body .fa-times-circle, .fllclndr_rght .tbl td .popcntnr .popover .popover-body .fa-times-circle {
  position: absolute;
  right: 4px;
  top: 3px;
  font-size: 18px;
  color: #c44242;
  cursor: pointer;
}

.fllclndr_rght .tbl th .popcntnr .popover .popover-body .fa-user-circle, .fllclndr_rght .tbl td .popcntnr .popover .popover-body .fa-user-circle {
  font-size: 50px;
  color: #bebebe;
  float: left;
  margin-right: 10px;
}

.fllclndr_rght .tbl th .popcntnr .popover .popover-body h4, .fllclndr_rght .tbl td .popcntnr .popover .popover-body h4 {
  font-size: 16px;
  border-bottom: 1px dotted #0077c0;
  margin-left: 60px;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.fllclndr_rght .tbl th .popcntnr .popover .popover-body span, .fllclndr_rght .tbl td .popcntnr .popover .popover-body span {
  float: left;
  font-size: 12px;
}

.fllclndr_rght .tbl th .popcntnr .popover .popover-body span strong, .fllclndr_rght .tbl td .popcntnr .popover .popover-body span strong {
  color: #0077c0;
}

.fllclndr_rght .tbl th h5, .fllclndr_rght .tbl td h5 {
  margin: 0;
}

.fllclndr_rght .tbl th.thd, .fllclndr_rght .tbl td.thd {
  background-color: #F9F9F9;
  color: #000;
  width: 33.33%;
  height: 36px;
  padding: 5px 10px;
}

.fllclndr_rght .tbl th .tbdy, .fllclndr_rght .tbl td .tbdy {
  float: left;
  width: 100%;
  color: #FFF;
  cursor: pointer;
}

.fllclndr_rght .tbl th .tbdy.td2018, .fllclndr_rght .tbl td .tbdy.td2018 {
  background-color: #0e99ac;
}

.fllclndr_rght .tbl th .tbdy.td2019, .fllclndr_rght .tbl td .tbdy.td2019 {
  background-color: #f1a94e;
}

.fllclndr_rght .tbl th .tbdy.td2020, .fllclndr_rght .tbl td .tbdy.td2020 {
  background-color: #e45641;
}

.fllclndr_rght .tbl th .tbdy.td2021, .fllclndr_rght .tbl td .tbdy.td2021 {
  background-color: #646c70;
}

.fllclndr_rght .tbl th .tbdy.td2022, .fllclndr_rght .tbl td .tbdy.td2022 {
  background-color: #e16060;
}

.fllclndr_rght .tbl th .tbdy.td2023, .fllclndr_rght .tbl td .tbdy.td2023 {
  background-color: #60e1d1;
}

.fllclndr_rght::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.fllclndr_rght::-webkit-scrollbar {
  height: 8px;
  background-color: #F5F5F5;
}

.fllclndr_rght::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

ul.lgnd {
  margin: 0;
  padding: 0;
}

ul.lgnd li {
  list-style: none;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

ul.lgnd li:nth-child(1) .fa {
  color: #0e99ac;
}

ul.lgnd li:nth-child(2) .fa {
  color: #f1a94e;
}

ul.lgnd li:nth-child(3) .fa {
  color: #e45641;
}

ul.lgnd li:nth-child(4) .fa {
  color: #646c70;
}

ul.lgnd li:nth-child(5) .fa {
  color: #e16060;
}

ul.lgnd li:nth-child(6) .fa {
  color: #60e1d1;
}

ul.lgnd li .fa {
  font-size: 25px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

#search_data {
  width: 100%;
}

#search_data button {
  border: 1px solid #0077c0;
  border-radius: 0;
  background-color: #0077c0;
  color: #FFF;
  height: 34px;
  padding: 5px 15px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

#search_data input[type=text] {
  border: 1px solid #0077c0;
  border-right: 0;
  height: 34px;
  font-size: 14px;
}

#search_data .dropdown-toggle {
  background-color: #FFF;
  border-right: 1px solid #0077c0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  color: #0077c0;
  font-size: 14px;
}

#search_data .dropdown-menu {
  border: 1px solid #0077c0;
  color: #0077c0;
  position: relative;
}

#search_data .dropdown-menu a {
  color: #0077c0;
}

#search_data .dropdown-menu .arrow:before {
  position: absolute;
  top: -8px;
  left: 37px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #0077c0;
  border-left: 8px solid transparent;
  border-bottom-color: #1f3383;
  content: '';
}

#search_data .dropdown-menu .arrow:after {
  position: absolute;
  top: -7px;
  left: 38px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
}

.pgnt.pagination {
  float: right;
  margin: 15px 0 0;
}

.pgnt.pagination .page-link {
  border: 1px solid #0077c0;
  color: #000;
  border-radius: 0;
  padding: 4px 10px;
}

.pgnt.pagination .page-link.active {
  background-color: #0077c0;
  color: #FFF;
}

/*# sourceMappingURL=year_calendar.css.map */
