#wrapper{
	
	.hdrtop{
		float: left;
		width: 100%;
		border-bottom: 1px solid #8ad3ef;

		.hdr_left{
			background-color: #FFF;
			float: left;
			width: 50%;
			padding: 15px;

			.logo{
			    margin: 8px 0 0 10px;
			    text-decoration: none;
			    display: inline-block;
			    width: 410px;
				
				.cmpnylogo{
					img{
						width: 80px;
						float: left;
					}
				}
				.cmpnyname{
			        font: 24px segobl;
				    margin-left: 80px;
				    padding: 10px;
				    overflow: hidden;
				    position: relative;
				    top: 2px;
				    line-height: 25px;

				    .drk, .lght{
				    	float: left;
				    	width: 100%;
				    }
				    .drk{color: #0077bf;}
				    .lght{color: #6dc5e6;}
				}
			}
		}

		.hdr_right{
			background-color: #FFF;
			padding: 15px;
			float: right;
			width: 50%;
		}
	}

	.sldr{
		width: 100%;
		clear: both;
		background-color: #F9F9F9;
		min-height: 500px;
		position: relative;
		overflow: hidden;
		
		.sldr_left{
			padding: 30px 0 0 20px;
			float: left;
			width: 400px;
			position: relative;

			.ceo_testi{
			    position: absolute;
			    right: -340px;
			    width: 450px;
			    top: 80px;
				.popover{
			        position: relative;
				    max-width: 450px;
				    border-color: #6dc6e6;
				    background-color: #6dc6e6;

				    .arrow{
				    	top: 100px;
				    	&::before{
				    		border-right: rgb(109, 198, 230);
				    	}
				    	&::after{
				    		border-right-color: rgb(109, 198, 230);
				    	}
				    }

				    .popover-body {
					    color: #FFF;
					    padding: 20px;
					    font: italic 16px segoi;
					    line-height: 24px;
					    text-shadow: 1px 1px 1px #b3b3b3;
					    text-align: justify;
					    width: 100%;
					}
				}
				.ceoname{
					clear: both;
					float: left;
					margin: 15px 15px 0;

					h2 {
					    margin-bottom: 0;
					    font: 25px segobl;
					    color: #6dc6e6;
					    text-shadow: 1px 1px 0px #0088b9;
					    border-bottom: 1px solid;
					}
					h4 {
					    margin: 0;
					    font: 16px segobb;
					    color: #6dc6e6;
					}
				}
			}
		}

		#rgstrtn{
		    width: 500px;
		    float: right;
		    margin: 80px 30px 0 0;
		    /*background-color: rgba(154, 154, 154, 0.5);
		    position: relative;
		    padding: 20px;
		    border-radius: 10px;*/

			.ttls{
				margin-bottom: 30px;
				/*color: #FFF;*/

				h1{margin: 0; font-size: 1.5rem;}
				h2{margin: 5px 0 0; font-size: 0.9rem; font-weight: normal;}
			}
			.btn.btnblu{
				float: right;
			}

			svg:not(:root){
				margin-top: -20px;
			}

			.nptgrp > .popcntnr{right: -15px;}
		}
	}
	
	.services{
		.blubx{
			.bx{
				padding: 15px 20px; min-height: 200px; color: #FFF;

				h3{text-align: center; margin: 0 0 10px; font: 22px segobb;}
				p{font-size: 14px; line-height: 18px;}
			}
			&:nth-child(1){background-color: #67d2e4;}
			&:nth-child(2){background-color: #42c6dd;}
			&:nth-child(3){background-color: #43afdd;}
			&:nth-child(4){background-color: #339cde;}
		}
	}
	.footer{
		float: left;
		width: 100%;
		clear: both;
	    background-color: #313131;
    	padding: 20px 10px 30px;

    	.ftrbx{
    		padding: 10px 8px;

    		&.tp{ 
    			margin-top: 22px;
    			ul{
    				li{
    					padding-left: 0;
    					a{
    						font-style: normal;
    					}
    				}
    			}
    		}

    		h3 {
			    margin: 10px 0 15px;
			    color: #6dc5e6;
			    font: 18px segobb;
			    letter-spacing: 1px;
			    line-height: 22px;
			}
			ul{
			    padding: 0;

			    li{
			    	position: relative;
				    list-style: none;
				    border-bottom: 1px solid #1f1f1f;
				    border-top: 1px solid #424242;
				    color: #FFF;
			        font-style: italic;
    				padding-left: 25px;

			    	&:first-child{border-top: 0;}
					&:last-child{border-bottom: 0;}

					a, span{
					    font-size: 14px;
					    width: 100%;
					    text-decoration: none;
					    padding: 10px 0;
					    color: #FFF; display: inline-block;
					}
					.fa{
						position: absolute;
						left: 0;
						top: 10px;
						color: #339cde;
						font-size: 20px;
					}
			    }
			    &.sclmedia>li{
					float: left;
					margin: 0 4px;
					padding: 0;
					display: inline-block;
					border: 0;
					list-style: none;
					
					a{
						text-align: center;
						background-color: #0077c0;
						width: 34px; height: 34px;
						border-radius: 50%;

						.fa{
							color: #FFF;
							position: relative;
							top: -2px;
							font-size: 18px;
						}
					}
					&:nth-child(1) a{background-color: #3b5998;}
					&:nth-child(2) a{background-color: #1da1f2;}
					&:nth-child(3) a{background-color: #517fa6;}
				}
			}
    	}
	}

	.ftr {
		float: left;
		width: 100%;
	    background-color: #2a2a2a;
	    padding: 12px 0;
	    text-align: center;

	    p {
		    color: #FFF;
		    font-size: 11px;
		    margin: 0;
		}
	}
}

#frmlgn{
	margin: 20px 0 0;
	.nptgrp{margin: 0;}
	.btn.btnblu{
		float: right;
		margin: 5px 0 0;
	}
	.nptgrp > .popcntnr{right: 0;}

	.rmmbr{
		margin: 2px 0 0;
		.lbl{
		    float: left;
		    margin: 0;
		    font-size: 14px;
		}
		a{
			color: #0077c0;
		}
	}
}