#wrapper{
	display: grid;
	grid-template-columns: 500px 1fr 1fr 1fr 1fr 600px;
	grid-template-rows: minmax(125px, auto) 1fr minmax(300px, auto) minmax(40px, auto);
	grid-template-areas:
		"hdr_left . . . . hdr_right"
		"sldr sldr sldr sldr sldr sldr"
		"footer footer footer footer footer footer"
		"ftr ftr ftr ftr ftr ftr";

	.hdr_left{
		grid-area: hdr_left;
		background-color: #FFF;
		padding: 1em;

		.logo{
			margin: 8px 0 0 8px;
			text-decoration: none;
			display: inline-block;
			
			.cmpnylogo{
				img{
					width: 80px;
					float: left;
				}
			}
			.cmpnyname{
		        font: 24px segobl;
			    margin-left: 80px;
			    padding: 10px;
			    overflow: hidden;
			    position: relative;
			    top: 2px;
			    line-height: 25px;

			    .drk, .lght{
			    	float: left;
			    	width: 100%;
			    }
			    .drk{color: #0077bf;}
			    .lght{color: #6dc5e6;}
			}
		}
	}

	.hdr_right{
		grid-area: hdr_right;
		background-color: #FFF;
		padding: 1em;
	}

	.sldr{
		grid-area: sldr;
		background-color: #F9F9F9;
		min-height: 600px;
		position: relative;
		overflow: hidden;
	}
	
	.footer{
		grid-area: footer;
	    background-color: #313131;
    	padding: 20px 10px 30px;

    	.ftrbx{
    		h3 {
			    margin: 10px 0 15px;
			    color: #6dc5e6;
			    font: 18px segobb;
			    letter-spacing: 1px;
			    line-height: 22px;
			}
			ul{
			    padding: 0;

			    li{
			    	position: relative;
				    list-style: none;
				    border-bottom: 1px solid #1f1f1f;
				    border-top: 1px solid #424242;
				    color: #FFF;
			        font-style: italic;
    				padding-left: 25px;

			    	&:first-child{border-top: 0;}
					&:last-child{border-bottom: 0;}

					a, span{
					    font-size: 14px;
					    width: 100%;
					    text-decoration: none;
					    padding: 10px 0;
					    color: #FFF; display: inline-block;
					}
					.fa{
						position: absolute;
						left: 0;
						top: 10px;
						color: #339cde;
						font-size: 20px;
					}
			    }
			    &.sclmedia>li{
					float: left;
					margin: 0 4px;
					padding: 0;
					display: inline-block;
					border: 0;
					list-style: none;
					
					a{
						text-align: center;
						background-color: #0077c0;
						width: 34px; height: 34px;
						border-radius: 50%;

						.fa{
							color: #FFF;
							position: relative;
							top: -2px;
							font-size: 18px;
						}
					}
					&:nth-child(1) a{background-color: #3b5998;}
					&:nth-child(2) a{background-color: #1da1f2;}
					&:nth-child(3) a{background-color: #517fa6;}
				}
			}
    	}
	}

	.ftr {
		grid-area: ftr;
	    background-color: #2a2a2a;
	    padding: 12px 0;
	    text-align: center;

	    p {
		    color: #FFF;
		    font-size: 11px;
		    margin: 0;
		}
	}
}

#frmlgn{
	margin: 20px 0 0;
	.nptgrp{margin: 0;}
	.btn.btnblu{
		float: right;
		margin: 8px 0 0;
	}
	.nptgrp > .popcntnr{right: 0;}

	.rmmbr{
		margin: 2px 0 0;

		.option{
		    display: inline-block;
		    border: 1px solid #10679c;
		    vertical-align: top;
		    margin: 3px 5px 0 0;
		    position: relative; width: 16px; height: 16px; float: left; border-radius: 50%;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;

		    .fcs:focus+.checkbox, .fcs+.checkbox,
			.fcs:focus+.checkbox:before,
			.fcs+.checkbox:before{border-color: #0077c0;}			

			.fcs{
				position: absolute;
				left: 0;
				width: inherit;
				height: inherit;
				opacity: 0;

				&:checked{
					&+.checkbox:before{display: block;}
				}
			}
			.checkbox:before{
			    content: '';
			    display: none;
			    position: absolute;
			    top: 3px;
			    left: 2px;
			    width: 10px;
			    height: 6px;
			    border: solid #000;
			    border-width: 0 0 3px 3px;
			    -webkit-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			}
		}
		.lbl{
		    float: left;
		    margin: 0;
		    font-size: 14px;
		}
	}
}


#rgstrtn{
    width: 550px;
    float: right;
    margin: 80px 30px 0 0;
    /*background-color: rgba(154, 154, 154, 0.5);
    position: relative;
    padding: 20px;
    border-radius: 10px;*/

	.ttls{
		margin-bottom: 30px;
		/*color: #FFF;*/

		h1{margin: 0; font-size: 1.5rem;}
		h2{margin: 5px 0 0; font-size: 0.9rem; font-weight: normal;}
	}
	.btn.btnblu{
		float: right;
	}

	svg:not(:root){
		margin-top: -20px;
	}

	.nptgrp > .popcntnr{right: -15px;}
}