@font-face {font-family: segoi; src: url('fonts/segoui/segoeui.ttf');}
@font-face {font-family: segobb; src: url('fonts/segoui/segoeuib.ttf');}
@font-face {font-family: segob; src: url('fonts/segoui/seguisb.ttf');}
@font-face {font-family: segobl; src: url('fonts/segoui/seguibl.ttf');}

body, html{
    font-family: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.btn{
    cursor: pointer;
    
    &.btnblu{
    	border: 1px solid #00588d; border-radius: 0; color: #FFF; background-color: #0077c0;
    	padding: 4px 16px;
    	font-size: 14px;
    	text-transform: uppercase;
    }
}
.bx{margin: 5px;}

.ttl{
	h3{margin: 0; color: #6dc5e6; font: 22px segobb;}
	hr{margin-top: 5px; border-top: 4px solid #6dc5e6; width: 150px;}
	.btmbrdr{background-color: #e0e0e0;}
}

.nptgrp{
    position: relative; width: 100%; margin-bottom: 20px; display: inline-block;

    &.err{
        textarea, select, input[type=text], input[type=password]{
            border: 1px solid #923f3f;
        }
    }
    
    textarea, select, input[type=text],
    input[type=password]{
        border: 1px solid #0077c0; padding: 8px 10px; font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif; width: 100%;
        &:focus{outline:none;}
        &:focus ~ label, &:valid ~ label{
            top: -13px;
            left: 0;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: bold;
            color: #0077c0;
            text-transform: uppercase;
        }
    }

    label{
        color: #5d5d5d;
        font: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif; position: absolute;
        pointer-events: none;
        left: 10px;
        top: 9px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;

        span{
            color: #f00;
        }
    }

    .btmlbl{
        position: absolute;
        bottom: -15px;
        right: 0;
        font-size: 11px;
        color: #999;
    }

    .popcntnr{
        position: absolute; right: -40px; bottom: 30px;
        .popover{
            position: relative; display: block; border-radius: 0; border: 1px solid #923f3f;
            
            .arrow{
                left: 50%;
                &::before{border-top-color: rgb(88, 3, 3);}
            }

            &.success{
                border: 1px solid #28a745;
                .arrow{
                    &::before{border-top-color: #28a745;}
                }
                .popover-body{
                    .rmve{
                        color: #28a745;
                    }
                }
            }

            .popover-body{
                padding: 5px 10px;
                line-height: 16px;

                .rmve{
                    position: absolute;
                    right: 8px;
                    top: 2px;
                    color: #dc3545;
                    cursor: pointer;
                    text-align: center;

                    .fa{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.msgmdl{
    top: 50px;
    
    .close{
        margin-top: -10px;
        float: right;
        cursor: pointer;
        outline: none;
    }
    .fa{
        font-size: 120px;
        color: #0077c0;
        float: left;
    }

    .msg{
        margin-left: 130px;

        h1{
            font: 28px segobb;
            color: #4bbd00;
        }

        p{
            font: 18px segob;
            color: #777;
        }
    }
}