@font-face {font-family: segoi; src: url('fonts/segoui/segoeui.ttf');}
@font-face {font-family: segobb; src: url('fonts/segoui/segoeuib.ttf');}
@font-face {font-family: segob; src: url('fonts/segoui/seguisb.ttf');}
@font-face {font-family: segobl; src: url('fonts/segoui/seguibl.ttf');}

body, html{
    font-family: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.cntntwrpr{
    float: left;
    width: 100%;

    .cntntwrpr_lft{
        margin-right: 300px;
    }

    .cntntwrpr_rght{
        width: 300px;
        float: right;
    }
}

.btn{
    cursor: pointer;
    
    &.btnblu{
    	border: 1px solid #00588d; border-radius: 0; color: #FFF; background-color: #0077c0;
    	padding: 4px 16px;
    	font-size: 14px;
    	text-transform: uppercase;
    }
}
.bx{margin: 5px;}

.cntr{
    text-align: center;
}

.ttl{
	h3{margin: 0; color: #6dc5e6; font: 22px segobb;}
	hr{margin-top: 5px; border-top: 4px solid #6dc5e6; width: 150px;}
	.btmbrdr{background-color: #e0e0e0;}
}

.nptgrp{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;

    &.err{
        textarea, select, input[type=text], input[type=password], .custom-select .dropdown-toggle{
            border: 1px solid #923f3f;
        }
    }
    select{
        height: 34px;
    }

    textarea, select, input[type=text],
    input[type=password]{
        border: 1px solid #0077c0;
        padding: 8px 10px;
        font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
        width: 100%;
        &:focus{outline:none;}
        &:disabled{ cursor: not-allowed; }
        // &:focus ~ .nptlbl, &:valid ~ .nptlbl{
        //     top: -13px;
        //     left: 0;
        //     font-size: 10px;
        //     letter-spacing: 1px;
        //     font-weight: bold;
        //     color: #0077c0;
        //     text-transform: uppercase;
        // }
    }
    textarea{
        min-height: 80px;
    }

    .nptlbl{
        // color: #5d5d5d;
        // font: 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
        position: absolute;
        // pointer-events: none;
        // left: 10px;
        // top: 9px;
        // transition:0.2s ease all; 
        // -moz-transition:0.2s ease all; 
        // -webkit-transition:0.2s ease all;

        top: -13px;
        left: 0;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: bold;
        color: #0077c0;
        text-transform: uppercase;

        span{
            color: #f00;
        }
    }

    .btmlbl{
        position: absolute;
        right: 0;
        font-size: 11px;
        color: #999;
    }

    .popcntnr{
        position: absolute; right: -40px; bottom: 30px;
        .popover{
            position: relative; display: block; border-radius: 0; border: 1px solid #923f3f;
            
            .arrow{
                left: 50%;
                &::before{border-top-color: rgb(88, 3, 3);}
            }

            &.success{
                border: 1px solid #28a745;
                .arrow{
                    &::before{border-top-color: #28a745;}
                }
                .popover-body{
                    .rmve{
                        color: #28a745;
                    }
                }
            }

            .popover-body{
                padding: 5px 10px;
                line-height: 16px;

                .rmve{
                    position: absolute;
                    right: 8px;
                    top: 2px;
                    color: #dc3545;
                    cursor: pointer;
                    text-align: center;

                    .fa{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .ctrl {
        float: left;
        font-family: arial;
        display: block;
        position: relative;
        padding-left: 20px;
        padding-top: 1px;
        cursor: pointer;
        font-size: 12px;
        pointer-events: auto;
        left: 0;
        top: 2px;

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked ~ .ctrl_indicator {
                background: #0077c0;
                border-color: #0077c0;
            }
            &:checked ~ .ctrl_indicator:after {
                display: block;
            }

            &:disabled ~ .ctrl_indicator {
                background: #E9E9E9;
                border-color: #CCC;
                cursor: not-allowed;
            }
        }

        .ctrl_indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 15px;
            width: 15px;
            background: #FFF;
            border: 1px solid #0077c0;


            &:after {
                box-sizing: unset;
                content: '';
                position: absolute;
                display: none;
                left: 4px;
                top: 0;
                width: 3px;
                height: 8px;
                border: solid #ffffff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

    }

    .totlngth{
        float: right;
        text-transform: uppercase;
        font: 10px segobb;
        margin-top: -4px;
        color: #28a745;
    }
}

.msgmdl{
    top: 50px;
    
    .close{
        margin-top: -10px;
        float: right;
        cursor: pointer;
        outline: none;
    }
    .fa{
        font-size: 120px;
        color: #0077c0;
        float: left;
    }

    .msg{
        margin-left: 130px;

        h1{
            font: 28px segobb;
            color: #4bbd00;
        }

        p{
            font: 18px segob;
            color: #777;
        }
    }
}