.cntntwrpr_lft{
	.cntnbx{
		overflow: hidden;

		.lnr{
			float: left;
			width: 100%;
			padding: 10px;
			margin-bottom: 15px;

			.ttlnm{
				float: left;
				width: 150px;
				position: relative;
				top: 15px;

				.ttl{
					margin: 0;
					font-size: 14px;
					font-weight: bold;
					line-height: 20px;
				}
			}
			.cntntdsc{
				margin-left: 150px;
				padding: 0 10px;
				position: relative;
				&:hover{
		    	.edtlyr{
		    		opacity: 1;
		    		transition: opacity .6s ease-in-out;
		    	}
		    }
				.edtlyr{
				    position: absolute;
				    left: 0;
				    right: 0;
				    top: -15px;
				    bottom: 5px;
				    background-color: rgba(109, 197, 230, .2);
				    opacity: 0;
				    cursor: pointer;
				    z-index: 9;
				    transition: opacity .6s ease-in-out;

				    .fa{
				    	position: absolute;
				    	left: -30px;
				    	top: 25px;
				    	font-size: 20px;
				    	color: #6dc5e6;
				    }
				}

				.nptgrp.lbld{
					margin-bottom: 15px;

					a{
						color: #0077c0;

						&:hover{
							text-decoration: none;
						}
					}
					.lbldcntnt{
						width: 100%;
						font-weight: bold;
						
						&.pscode{
						    font-size: 22px;
						    position: relative;
						    top: 10px;
						    margin-top: -15px;
						    float: left;
						}
					}
					.lbl{
						position: relative;
						left: 0;
						top: 0;
						border-top: 1px dotted #CCC;
						font-size: 12px;
						width: 100%;
						clear: both;
					}
				}
			}
		}
	}
}
