.cntntwrpr_lft{
	.cntnbx{
		overflow: hidden;

		.lnr{
			float: left;
			width: 100%;
			padding: 10px;
			margin-bottom: 15px;

			.ttlnm{
				float: left;
				width: 150px;
				position: relative;
				top: 10px;

				.ttl{
					margin: 0;
					font-size: 16px;
					font-weight: bold;
					line-height: 20px;
				}
			}
			.cntntdsc{
				margin-left: 150px;
				padding: 0 10px;

				.nptgrp.lbld{
					margin-bottom: 15px;

					a{
						color: #0077c0;

						&:hover{
							text-decoration: none;
						}
					}
					.lbldcntnt{
						width: 100%;
						font-weight: bold;
						
						&.pscode{
						    font-size: 22px;
						    position: relative;
						    top: 10px;
						    margin-top: -15px;
						    float: left;
						}
					}
					.lbl{
						position: relative;
						left: 0;
						top: 0;
						border-top: 1px solid #CCC;
						font-size: 12px;
						width: 100%;
						clear: both;
					}
				}
			}
		}
	}
}
