/* EDIT PROFILE */
#edit_profile{
	padding: 10px 20px;
	.grdprofile{
		float: left;
		width: 100%;
		padding: 20px 0 50px;

		.content_left{
			margin-right: 300px;
			
			.cntnbx{
				min-height: 590px;

				.pvw{
					float: right;
					position: relative;
					top: 2px;
					padding: 5px 20px;
				}

				#edtprof_accrdn{

					.card{
						border: 0;
						border-radius: 0;
						margin: 0 0 10px;
						box-shadow: 0 0 10px #e8e8e8;

						.card-header{
							background-color: #54c3ec;
						    color: #FFF;
						    cursor: pointer;
						    border-radius: 0;
						    padding: 6px 15px;
						    font: 20px segobb;
						    text-shadow: 1px 0 0 #2e90b5;

							.glyph{
								background-color: #FFF;
								color: #5cc2e8;
								position: relative;
								top: 0;
								width: 30px;
								height: 30px;
								text-align: center;
								border-radius: 50%;
								float: left;
								margin-right: 10px;
							}

							.fa.fa-chevron-down{
								position: absolute;
								right: 12px;
								top: 12px;
								font-size: 20px;
								-webkit-transform: rotate(180deg);
								-moz-transform: rotate(180deg);
							    transform: rotate(180deg);
							    transition: -webkit-transform .8s ease-in-out;
							    transition: transform .8s ease-in-out;
							    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out, -moz-transform .8s ease-in-out;
							}
							&.collapsed{
								.fa.fa-chevron-down{
									-webkit-transform: rotate(0deg);
									-moz-transform: rotate(0deg);
								    transform: rotate(0deg);
								    transition: -webkit-transform .8s ease-in-out;
								    transition: -moz-transform .8s ease-in-out;
								    transition: transform .8s ease-in-out;
								    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out, -moz-transform .8s ease-in-out;
								}
							}
						}
						.card-body{
							
						}
					}
				}
			}
		}
		
		.content_right{
			width: 300px;
			float: right;

			.avatar{
				text-align: center;

				.dsplaypc{
					    display: inline-block;
					    height: 160px;
					    overflow: hidden;
					
					.prvw{
						position: relative;
						left: 0; right: 0;
					}

					.fa {
				        font-size: 150px;
					    color: #E9E9E9;
					    margin: 5px 0;
					}
				}
			}

			.preview_resume{
				text-align: center;

				.icns{
					float: left;
					width: 100%;
					padding-top: 12px;
					min-height: 150px;

					svg:not(:root){
						margin: -15px 0 0;
					}

					.cntnt{
						float: left;
						width: 100%;

						.fnticn{
							float: left;
							width: 110px;
							.fa:not(.fa-trash):not(.fa-close){
								display: inline-block;
								font-size: 120px;
								margin-bottom: 8px;
								float: left;
								
								&.fa-file-pdf-o{
									color: #dc3545;
								}
								&.fa-file-word-o{
									color: #0077c0;
								}
								&.fa-file-text-o{
									color: #E9E9E9;
								}
							}
						}

						.lbls{
							margin: 25px 0 0 110px;
							text-align: left;

							&.nocntnt{
								margin-top: 8px;
							    .lbl{
							    	color: #FFF;
    								border-bottom: 8px solid #E9E9E9;
    								min-height: 30px;

    								strong{
    									color: #FFF;
    								}
    								.btn{
    									display: none;
    								}
							    }
							}
							.lbl{
								font-size: 12px;

								strong{
									font-size: 10px;
									color: #0077c0;
								}
								.btn{
									padding: 5px 10px 4px;
		    						border-radius: 10px;
		    						font-size: 10px;
		    						margin: 5px 0 0;
								}
							}
						}
					}

				}
			}
			.nptgrp{
				margin: 0;
			    position: absolute;
			    right: 0;
			    left: 0;
			    width: 100%;
			    bottom: -5px;
			    z-index: 999;

			    .popcntnr{
			    	right: -15px;
			    	left: -15px;
			    	cursor: default;

			    	ul{
						margin: 10px 0 5px 20px;
						padding: 0;
					}
					p{
						margin: 10px 0 4px;
					}
			    }
			}

		}
		
		.cntnbx{
			background-color: #FFF;
			padding: 10px 20px 20px;
			margin: 8px;
			border: 1px solid #8ad3ef;
			border-radius: 10px;
			margin: 0 8px 15px;
			
			.ttl{
				text-align: left;
			}

			.btns{
				text-align: center;
				margin: 6px 0 0;
				display: inline-block;

				.fileUpload{
			        position: relative;
			        float: left;

		        	.upload{
						position: absolute;
						top: 0;
						right: 0;
						margin: 0;
						padding: 0;
						font-size: 20px;
						cursor: pointer;
						opacity: 0;
						filter: alpha(opacity=0);
					}
				}
				.dltbtn{
					position: relative;
					float: left;
					margin-left: 5px;

					.nptgrp{
						.popcntnr{
							left: -218px;

							.popover{
								border-color: #8ad3ef;

								&.success{
									border-color: #28a745;
									.arrow{
										border-top-color: #28a745;
										&::before{
											border-top-color: #28a745;
										}
									}
								}
								.arrow{
									border-top-color: #8ad3ef; left: initial; right: 25px;
									&::before{
										border-top-color: #8ad3ef;
									}
								}
								.popover-body{
									p{
										font-size: 15px;
									}

									.btns{
										text-align: center;
										width: 100%;
										margin: 6px 0;

										.btn{
											display: inline-block;
											padding: 5px 20px;
										}
									}
								}
							}	
						}
					}
				}
			}
			.btn{
				text-transform: uppercase;
				font-size: 13px;
				border-radius: 0;

				&.btn-danger{
					padding: 5px 10px;
					&:disabled{
						cursor: not-allowed;
					}
				}

				&.btn-primary{
					padding: 5px 70px;
					background-color: #0077c0;
					border-color: #02639e;
				}
			}
		}
	}
}
#cropModal{
	.modal-content{
		padding: 10px 20px;
		position: relative;
		overflow: hidden;
		
		.close{
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    outline: none;
		    cursor: pointer;
		}

		.ttl{
			width: 100%;
		}
		.modal-body{
			min-height: 400px;

			.loader{
			    background-color: #FFF;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: -15px;
			    right: -15px;
			    z-index: 9999;
			    text-align: center;

			    svg:not(:root){
			    	position: relative;
			    	top: 100px;
			    }
			}

			.imgcropper{
				width: 100%;
				text-align: center;
				display: none;
				
				.jcrop-holder {
				    margin: 0 auto;
				    .jcrop-keymgr{visibility: hidden;}
				    div {
					    border-radius: 50%;
					    overflow: hidden;
					}
				}
				#target{
					display: none;
					opacity: 0;
				}
			}
		}
		.modal-footer{
			justify-content: center;

			.btn{
			    border-radius: 0;
			    padding: 6px 30px;
			    text-transform: uppercase;
			    font-size: 14px;
			}
		}
	}
}

.prvw {
    position: absolute;
    z-index: 999;
    left: -10px;
    display: none;

    &.ltstdp{
    	display: block;
    }

    .preview-pane {
	    display: block;
	    position: relative;
	    padding: 6px;

	    .preview-container {
		    width: 150px;
		    position: relative;
		    height: 150px;
		    border-radius: 50%;
		    border: 5px inset #6dc5e6;
		    overflow: hidden;
		    text-align: center;
		}
	}
}