/* EDIT PROFILE */
#edit_profile{
	padding: 10px 20px;
	.grdprofile{
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"content_left avatar"
			"content_left preview_resume";
		
		.content_left{
			grid-area: content_left;

			#edtprof_accrdn{

				.card{
					border: 0;
					border-radius: 0;
					margin: 0 0 20px;
					box-shadow: 0 0 10px #e8e8e8;

					.card-header{
						background-color: #8ad3ef;
						color: #FFF;
						cursor: pointer;
						border-radius: 0;
						padding: 8px 15px;
						font: 20px segobb;

						.glyph{
							background-color: #FFF;
							color: #5cc2e8;
							position: relative;
							top: 0;
							width: 30px;
							height: 30px;
							text-align: center;
							border-radius: 50%;
							float: left;
							margin-right: 10px;
						}
					}
					.card-body{
						
					}
				}
			}
		}
		
		.avatar{
			grid-area: avatar;
			text-align: center;

			.ttl{
				text-align: left;
			}

			.dsplaypc{
				    display: inline-block;
				    height: 160px;
				    overflow: hidden;
				
				.prvw{
					position: relative;
					left: 0; right: 0;
				}

				.fa {
			        font-size: 150px;
				    color: #CCC;
				    margin: 5px 0;
				}
			}
			.nptgrp{
				margin: 0;
			    position: absolute;
			    right: 0;
			    left: 0;
			    width: 100%;
			    bottom: -2px;

			    .popcntnr{
			    	right: -15px;
			    	left: -15px;
			    	cursor: default;

			    	ul{
						margin: 5px 0 5px 20px;
						padding: 0;
					}
			    }
			}

			.fileUpload{
		        position: relative;
			    margin: 5px 0;
			    background-color: #8ad3ef;
			    width: 80%;
			    text-transform: uppercase;
			    border: 1px solid #3bbaea;
			    padding: 5px 10px;

				.upload{
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					font-size: 20px;
					cursor: pointer;
					opacity: 0;
					filter: alpha(opacity=0);
				}
			}

		}

		.preview_resume{
			grid-area: preview_resume;
		}

		.cntnbx{
			background-color: #FFF;
			padding: 10px 20px 20px;
			margin: 8px;
			border: 1px solid #8ad3ef;
			border-radius: 10px;
		}
	}
}
#cropModal{
	.modal-content{
		padding: 10px 20px;
		position: relative;
		overflow: hidden;
		
		.close{
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    outline: none;
		    cursor: pointer;
		}

		.ttl{
			width: 100%;
		}
		.modal-body{
			min-height: 400px;

			.loader{
			    background-color: #FFF;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: -15px;
			    right: -15px;
			    z-index: 9999;
			    text-align: center;

			    svg:not(:root){
			    	position: relative;
			    	top: 100px;
			    }
			}

			.imgcropper{
				width: 100%;
				text-align: center;
				display: none;
				
				.jcrop-holder {
				    margin: 0 auto;
				    .jcrop-keymgr{visibility: hidden;}
				    div {
					    border-radius: 50%;
					    overflow: hidden;
					}
				}
				#target{
					display: none;
					opacity: 0;
				}
			}
		}
	}
}

.prvw {
    position: absolute;
    z-index: 999;
    left: -10px;
    display: none;

    &.ltstdp{
    	display: block;
    }

    .preview-pane {
	    display: block;
	    position: relative;
	    padding: 6px;

	    .preview-container {
		    width: 150px;
		    position: relative;
		    height: 150px;
		    border-radius: 50%;
		    border: 5px inset #6dc5e6;
		    overflow: hidden;
		    text-align: center;
		}
	}
}