/* EDIT PROFILE */
#edit_profile{

	.cntntwrpr{

		.cntntwrpr_lft{
			.cntnbx{
				min-height: 582px;

				.pvw{
					float: right;
					position: relative;
					top: 2px;
					padding: 5px 20px;
				}

				#edtprof_accrdn{

					.card{
						border: 0;
						border-radius: 0;
						margin: 0 0 10px;
						box-shadow: 0 0 10px #e8e8e8;

						.card-header{
							background-color: #54c3ec;
						    color: #FFF;
						    cursor: pointer;
						    border-radius: 0;
						    padding: 6px 15px;
						    font: 20px segobb;
						    text-shadow: 1px 0 0 #2e90b5;

							.glyph{
								background-color: #FFF;
								color: #5cc2e8;
								position: relative;
								top: 0;
								width: 30px;
								height: 30px;
								text-align: center;
								border-radius: 50%;
								float: left;
								margin-right: 10px;
							}

							.fa.fa-chevron-down{
								position: absolute;
								right: 12px;
								top: 12px;
								font-size: 20px;
								-webkit-transform: rotate(180deg);
								-moz-transform: rotate(180deg);
							    transform: rotate(180deg);
							    transition: -webkit-transform .8s ease-in-out;
							    transition: transform .8s ease-in-out;
							    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out, -moz-transform .8s ease-in-out;
							}
							&.collapsed{
								.fa.fa-chevron-down{
									-webkit-transform: rotate(0deg);
									-moz-transform: rotate(0deg);
								    transform: rotate(0deg);
								    transition: -webkit-transform .8s ease-in-out;
								    transition: -moz-transform .8s ease-in-out;
								    transition: transform .8s ease-in-out;
								    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out, -moz-transform .8s ease-in-out;
								}
							}
						}
						.card-body{
							position: relative;
							padding: 50px 15px 0;
							min-height: 300px;

							.btnedt{
								text-align: center;
								float: left;
								width: 100%;
								
								.btn{
									font-size: 15px;
									margin-bottom: 30px;
								}
							}

							.cls{
							    position: absolute;
							    right: 5px;
							    top: 5px;
							    outline: none;
							    border: 0;
							    background-color: transparent;
							    font-size: 25px;
							    color: #54c3ec;
							    cursor: pointer;

							    &:hover{
							    	color: #2fb3e4;
							    }
							}

							.frmldr{
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								right: 0;
								background-color: rgba(255, 255, 255, 0.8);
								text-align: center;
								z-index: 9;

								svg{
									display: inline-block;
									margin-top: 60px;
								}
							}
							.bx{
								margin: 5px 3px;
							}
							.crdftr{
							    text-align: center;
							    padding: 20px 0 0;
							    float: left;
							    width: 100%;
							    margin: 0 0 30px;
							    border-top: 1px dashed #54c3ec;

							    .btmctns{
							    	position: relative;
							    	display: inline-block;

							    	.nptgrp{
							    		margin: 0;
							    		display: block;

							    		.popcntnr {
										    position: absolute;
										    right: -35px;
										    left: -35px;
										    bottom: -4px;

										    .popover {
											    border-color: #8ad3ef;
											    .arrow{
											    	border-top-color: #8ad3ef;
											    	&::before {
													    border-top-color: #8ad3ef;
													}
											    }
											    .popover-body{
											    	padding: 10px;
											    	p{
										    		    margin-bottom: 10px;
													    font-size: 14px;
													    font-weight: bold;
													    text-align: center;
													    color: #505050;
											    	}
											    	.btns{
											    		display: block;
											    		.btn{
											    			padding: 5px 30px;
											    			display: inline-block;
											    		}
											    	}
											    }
											}
										}
							    	}
							    	.btn-success{
									    font-size: 14px;
									    border-radius: 5px;
									    padding: 10px 50px;
									}
							    }
							}
							.nptgrp{
								&.txtarea, &.cstmdrpdwn{
									label{
										top: -13px;
							            left: 0;
							            font-size: 10px;
							            letter-spacing: 1px;
							            font-weight: bold;
							            color: #0077c0;
							            text-transform: uppercase;
									}
								}
								&.txtarea{
									.note-frame.panel{
										border: 1px solid #0077c0;
										.note-toolbar.panel-heading{
											background: #FFF;
											padding: 0 5px 4px;
											border-bottom: 1px solid #0077c0;
											.btn-default{
												background-color: transparent;
												border-color: transparent;
												color: #0071b7;

												&.active{
													background-color: #E9E9E9;
												}
												&.dropdown-toggle::after{
													display: none;
												}
											}
										}
										.note-editable.panel-body{
											background-color: #FFF;
											padding: 10px 15px;
											min-height: 100px;
											font-size: small;
											ul{
												padding-left: 20px;
											}
										}
										
										.note-statusbar{
											background-color: transparent;

											.note-resizebar{
												padding-top: 0;
												
												.note-icon-bar{
													border-top-color: #0077c0;
												}
											}
										}
										.dropdown-menu{
											border-color: #0077c0;
										}
									}
									.popcntnr{
									    right: -20px;
									    bottom: 60px;
									}
								}

								&.cstmdrpdwn{
									.popcntnr{
									    bottom: 34px;
									}
								}

								&.radio{
									&.err{
										.rdbx .btnbx + label{
											border: 1px solid #923f3f;
										}
									}
									label{
										top: -13px;
							            left: 0;
							            font-size: 10px;
							            letter-spacing: 1px;
							            font-weight: bold;
							            color: #0077c0;
							            text-transform: uppercase;
									}
									.rdbx{
										position: relative;
										float: left;
										width: 100%;
										clear: both;

										.fmlbx{
									    	width: 50%;
									    	float: right;
									    	padding: 0;

									    	& .btnbx + label{
									    		border-left: 0;
									    	}
									    }
										.mlbx{
											width: 50%;
											float: left;
											padding: 0;
										}
										.btnbx {
										  display: none;
										  & + label {
										  	position: relative;
										    pointer-events: auto;
										    top: 0;
										    left: 0;
										    width: 100%;
										    display: inline-block;
										    padding: 6px 15px;
										    font: normal 14px/16px 'Open Sans',Helvetica,Arial,sans-serif;
										    margin: 0;
										    text-transform: capitalize;
										    line-height: 20px;
										    color: #5d5d5d;
										    text-align: center;
										    vertical-align: middle;
										    cursor: pointer;
										    background-color: #FFF;
										    border: 1px solid #0077c0;
										    letter-spacing: 0;
										  }

										  &.actv + label, &:checked + label{
										    background-image: none;
										    color: #FFF;
										    outline: 0;
										    
										    
										    &[for=female]{
										      background-color: #fb2aa7; border: 1px solid #fb2aa7;
										    }

										    &[for=male]{
										      background-color: #0077c0; border: 1px solid #0077c0;
										    }
										  }
										}
									}
								}

								&.lbld{
									margin: 0 5px 15px;
									display: inherit;
									width: auto;

									.lbldcntnt {
									    width: 100%;
									    font-weight: bold;
									    color: #3a3a3a;
									}
									.lbl {
									    position: relative;
									    left: 0;
									    top: 0;
									    border-top: 1px solid #CCC;
									    font-size: 12px;
									    width: 100%;
									    clear: both;
									}
								}
							}
						}
					}
				}
			}
		}
		
		.cntntwrpr_rght{

			.avatar{
				text-align: center;

				.dsplaypc{
					    display: inline-block;
					    height: 160px;
					    overflow: hidden;
					
					.prvw{
						position: relative;
						left: 0; right: 0;
					}

					.fa {
				        font-size: 150px;
					    color: #E9E9E9;
					    margin: 5px 0;
					}
				}
			}

			.preview_resume{
				text-align: center;

				.icns{
					float: left;
					width: 100%;
					padding-top: 12px;
					min-height: 150px;

					svg:not(:root){
						margin: -15px 0 0;
					}

					.cntnt{
						float: left;
						width: 100%;

						.fnticn{
							float: left;
							width: 110px;
							.fa:not(.fa-trash):not(.fa-close){
								display: inline-block;
								font-size: 120px;
								margin-bottom: 8px;
								float: left;
								
								&.fa-file-pdf-o{
									color: #dc3545;
								}
								&.fa-file-word-o{
									color: #0077c0;
								}
								&.fa-file-text-o{
									color: #E9E9E9;
								}
							}
						}

						.lbls{
							margin: 25px 0 0 110px;
							text-align: left;

							&.nocntnt{
								margin-top: 8px;
							    .lbl{
							    	color: #FFF;
    								border-bottom: 8px solid #E9E9E9;
    								min-height: 30px;

    								strong{
    									color: #FFF;
    								}
    								.btn{
    									display: none;
    								}
							    }
							}
							.lbl{
								font-size: 12px;

								strong{
									font-size: 10px;
									color: #0077c0;
								}
								.btn{
									padding: 5px 10px 4px;
		    						border-radius: 10px;
		    						font-size: 10px;
		    						margin: 5px 0 0;
								}
							}
						}
					}

				}
			}
			.nptgrp{
				margin: 0;
			    position: absolute;
			    right: 0;
			    left: 0;
			    width: 100%;
			    bottom: -5px;
			    z-index: 999;

			    .popcntnr{
			    	right: -15px;
			    	left: -15px;
			    	cursor: default;

			    	ul{
						margin: 10px 0 5px 20px;
						padding: 0;
					}
					p{
						margin: 10px 0 4px;
					}
			    }
			}
		}
		
		.cntnbx{
			.ttl{
				text-align: left;
			}

			.btns{
				text-align: center;
				margin: 6px 0 0;
				display: inline-block;

				.fileUpload{
			        position: relative;
			        float: left;

		        	.upload{
						position: absolute;
						top: 0;
						right: 0;
						margin: 0;
						padding: 0;
						font-size: 20px;
						cursor: pointer;
						opacity: 0;
						filter: alpha(opacity=0);
					}
				}
				.dltbtn{
					position: relative;
					float: left;
					margin-left: 5px;

					.nptgrp{
						.popcntnr{
							left: -218px;

							.popover{
								border-color: #8ad3ef;

								&.success{
									border-color: #28a745;
									.arrow{
										border-top-color: #28a745;
										&::before{
											border-top-color: #28a745;
										}
									}
								}
								.arrow{
									border-top-color: #8ad3ef; left: initial; right: 25px;
									&::before{
										border-top-color: #8ad3ef;
									}
								}
								.popover-body{
									p{
										font-size: 15px;
									}

									.btns{
										text-align: center;
										width: 100%;
										margin: 6px 0;

										.btn{
											display: inline-block;
											padding: 5px 20px;
										}
									}
								}
							}	
						}
					}
				}
			}
			.btn{
				text-transform: uppercase;
				font-size: 13px;
				border-radius: 0;

				&.btn-danger{
					padding: 5px 10px;
					&:disabled{
						cursor: not-allowed;
					}
				}

				&.btn-primary{
					padding: 5px 70px;
					background-color: #0077c0;
					border-color: #02639e;
				}
			}
		}
	}
}
#cropModal{
	.modal-content{
		padding: 10px 20px;
		position: relative;
		overflow: hidden;
		
		.close{
		    position: absolute;
		    right: 20px;
		    top: 10px;
		    outline: none;
		    cursor: pointer;
		}

		.ttl{
			width: 100%;
		}
		.modal-body{
			min-height: 400px;

			.loader{
			    background-color: #FFF;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: -15px;
			    right: -15px;
			    z-index: 9999;
			    text-align: center;

			    svg:not(:root){
			    	position: relative;
			    	top: 100px;
			    }
			}

			.imgcropper{
				width: 100%;
				text-align: center;
				display: none;
				
				.jcrop-holder {
				    margin: 0 auto;
				    .jcrop-keymgr{visibility: hidden;}
				    div {
					    border-radius: 50%;
					    overflow: hidden;
					}
				}
				#target{
					display: none;
					opacity: 0;
				}
			}
		}
		.modal-footer{
			justify-content: center;

			.btn{
			    border-radius: 0;
			    padding: 6px 30px;
			    text-transform: uppercase;
			    font-size: 14px;
			}
		}
	}
}

.prvw {
    position: absolute;
    z-index: 999;
    left: -10px;
    display: none;

    &.ltstdp{
    	display: block;
    }

    .preview-pane {
	    display: block;
	    position: relative;
	    padding: 6px;

	    .preview-container {
		    width: 150px;
		    position: relative;
		    height: 150px;
		    border-radius: 50%;
		    border: 5px inset #6dc5e6;
		    overflow: hidden;
		    text-align: center;
		}
	}
}
.note-popover.popover{
	display: none;
}