.cntntwrpr{

	.cntntwrpr_lft{
		#topfrms{
			margin: 30px 0 0;
			.nptgrp{
				margin: 0;
				.lnkchng{
					float: right;
					font-size: 11px;
					color: #0077c0;
					cursor: pointer;
				}
			}
			.pvw {
		    float: right;
		    position: relative;
		    top: 8px;
		    padding: 5px 20px;
        text-transform: uppercase;
			  font: 14px segobb;
			  border-radius: 0;
			}
		}
		/* JOBS */
		#jbs{
			[class*=col-]{
				display: flex;

				.jb{
					background-color: #fbfbfb;
					margin: 5px 8px 10px;
					position: relative;
					padding-bottom: 50px;

					.jbttl{
						color: #FFF;
						background-color: #54c3ec;
						font: 16px segobb;
					}
					.jbcntnt{
						.jbrate{
							font: 18px segobb;
							color: #369310;
							float: left;
							width: 100%;
							margin-bottom: 5px;

							.crrncy{
								font-size: 20px;
							}
						}
						
						p{
							font-size: 14px;
						}
					}
					.jbspc{
						padding: 6px 15px;
					}
					.jbftr{
						background-color: #e8e8e8;
						padding: 10px 0;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;

						.btn{
						    border-radius: 0;
						    padding: 5px 20px;
						    font: 11px segobb;
						    letter-spacing: 1px;
						    text-transform: uppercase;
						    margin: 0 2px;

							&.btn-primary{
							    background-color: #0077c0;
								border-color: #02639e;
							}
						}
					}
				}
			}
		}
	}

	.cntntwrpr_rght{
	
	}
}