#wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(124px, auto) 1fr minmax(300px, auto) minmax(40px, auto);
	grid-template-areas:
		"hdr_left hdr_right"
		"content content"
		"footer footer"
		"ftr ftr";

	.hdr_left{
		grid-area: hdr_left;
		background-color: #FFF;
		padding: 12px 15px;
		border-bottom: 1px solid #8ad3ef;

		.logo{
			margin: 11px 0 0 10px;
		    text-decoration: none;
		    display: inline-block;
		    width: 410px;

			.cmpnylogo{
				img{
					width: 80px;
					float: left;
				}
			}
			.cmpnyname{
		        font: 24px segobl;
			    margin-left: 80px;
			    padding: 10px;
			    overflow: hidden;
			    position: relative;
			    top: 2px;
			    line-height: 25px;

			    .drk, .lght{
			    	float: left;
			    	width: 100%;
			    }
			    .drk{color: #0077bf;}
			    .lght{color: #6dc5e6;}
			}
		}
	}

	.hdr_right{
		grid-area: hdr_right;
		background-color: #FFF;
		padding: 12px 15px;
		border-bottom: 1px solid #8ad3ef;

		.picture{
			float: right;
			margin: 10px 0 0;
			.pctrname{
				float: left;
				margin: 10px 0 0;
				.ttl{
					h3{
					    margin: 0 10px;
    					font: 18px segob;
					}
				}
			}
			.dp{
				cursor: pointer;
			    position: relative;
			    display: inline-block;
			    float: right;
			    margin: 0 15px;

			    .drpdwn{
			    	display: inline-block;

			    	.fa{
						font-size: 80px;
						color: #E9E9E9;
						margin: 0;
					}

					img{
						width: 80px;
						height: 80px;
						float: right;
					}
			    }

				.dropdown-menu{
			        top: 5px !important;
				    left: -18px !important;
				    min-width: 300px;
				    border-color: #8ad3ef;
					
					ul{
						margin: -10px 0 10px;
						padding: 0;

						li{
							lisT-style: none;

							a{
								padding: 8px 15px;
								border-bottom: 1px dashed #CCC;
								text-decoration: none;
								display: block;
								color: #4dbfea;
							}
						}
					}

					&:before {
					  position: absolute;
					  top: -8px;
					  right: 39px;
					  display: inline-block;
					  border-right: 8px solid transparent;
					  border-bottom: 8px solid #8ad3ef;
					  border-left: 8px solid transparent;
					  border-bottom-color: #8ad3ef;
					  content: '';
					}

					&:after {
					  position: absolute;
					  top: -7px;
					  right: 40px;
					  display: inline-block;
					  border-right: 7px solid transparent;
					  border-bottom: 7px solid #ffffff;
					  border-left: 7px solid transparent;
					  content: '';
					}
				}
			}
		}
	}

	.content{
		grid-area: content;
		background-color: #F9F9F9;
		min-height: 600px;
		padding: 30px 10px 50px;

		.cntnbx {
		    background-color: #FFF;
		    padding: 10px 20px 20px;
		    border: 1px solid #8ad3ef;
		    margin: 0 8px 15px;
		    font-size: 14px;
		}
	}

	.footer{
		grid-area: footer;
	    background-color: #313131;
    	padding: 20px 10px 30px;

    	.ftrbx{
    		padding: 10px;
    		
    		h3 {
			    margin: 10px 0 15px;
			    color: #6dc5e6;
			    font: 18px segobb;
			    letter-spacing: 1px;
			    line-height: 22px;
			}

			&.tp{ 
    			margin-top: 22px;
    			ul{
    				li{
    					padding-left: 0;
    					a{
    						font-style: normal;
    					}
    				}
    			}
    		}

			ul{
			    padding: 0;

			    li{
			    	position: relative;
				    list-style: none;
				    border-bottom: 1px solid #1f1f1f;
				    border-top: 1px solid #424242;
				    color: #FFF;
			        font-style: italic;
    				padding-left: 25px;

			    	&:first-child{border-top: 0;}
					&:last-child{border-bottom: 0;}

					a, span{
					    font-size: 14px;
					    width: 100%;
					    text-decoration: none;
					    padding: 10px 0;
					    color: #FFF; display: inline-block;
					}
					.fa{
						position: absolute;
						left: 0;
						top: 10px;
						color: #339cde;
						font-size: 20px;
					}
			    }
			    &.sclmedia>li{
					float: left;
					margin: 0 4px;
					padding: 0;
					display: inline-block;
					border: 0;
					list-style: none;
					
					a{
						text-align: center;
						background-color: #0077c0;
						width: 34px; height: 34px;
						border-radius: 50%;

						.fa{
							color: #FFF;
							position: relative;
							top: -2px;
							font-size: 18px;
						}
					}
					&:nth-child(1) a{background-color: #3b5998;}
					&:nth-child(2) a{background-color: #1da1f2;}
					&:nth-child(3) a{background-color: #517fa6;}
				}
			}
    	}
	}

	.ftr {
		grid-area: ftr;
	    background-color: #2a2a2a;
	    padding: 12px 0;
	    text-align: center;

	    p {
		    color: #FFF;
		    font-size: 11px;
		    margin: 0;
		}
	}
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}